<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6e5KCfZHZEoJLPDVUn24zM-30hir0CwM&sensor=true"></script>

<form role="form">
<%= form_tag schools_path, :method => 'get' do  %>
  <div><%= text_field_tag :zip, params[:zip], :placeholder => "enter zip code"%> <%= submit_tag 'Search' %></div>
<% end %>

<br />
<div class="form-group">
  <% if @schools.count == 0 %>
  <div class="row">
    <div class="col-lg-12 col-md-12, col-sm-12">Nothing found!</div>
  </div>
  <% else %>
  <div class="col-lg-6 col-md-6">
  <div><strong>School Results: <%= @schools.count %></strong></div><br />

    <% @schools.each do |school| %>
      <div>ID: <%= school.id %></div>
      <div><strong><%= school.name %></strong></div>
      <div><%= school.address %></div>
      <div><%= school.city %>, <%= school.state %> <%= school.zip %></div>
      <div><%= school.county %> County</div>
      <div><%= school.phone_number %></div>
      <div><%= school.url %></div>
      <div>Grade Level:   <%= school.grade_level %></div>
      <div>School Rating: <%= school.rating %></div>
      <div><%= school.latitude %>, <%= school.longitude %></div>
      <div><%= link_to 'Edit', edit_school_path(school) %> |
      <%= link_to 'Show', school_path(school) %></div> 
      <hr/>
      <% end %>
  </div>
  
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div id="map-canvas"></div>
  </div>
    <% end %>
</div>
</form>
 
<script type="text/javascript"> 
  
function initialize() {
  $.get(location.href, null)
    .success(function(data){

  var school_array = [];
  var school_array_high = [];
  var school_array_med = [];
  var school_array_low = [];
  var star = "<%= asset_path('star.png') %>";
  var blue = "<%= asset_path('blue.png') %>";
  var red = "<%= asset_path('red.png') %>";

<% if @schools.count != 0 %>
  <% @schools.each do |school| %>
    <% if school.rating >= "8" %>
      school_array.push([new google.maps.LatLng(<%= school.latitude %>, <%= school.longitude %>), star]);
    <% elsif school.rating <= "4" %>
      school_array.push([new google.maps.LatLng(<%= school.latitude %>, <%= school.longitude %>), red]);
    <% else %>
      school_array.push([new google.maps.LatLng(<%= school.latitude %>, <%= school.longitude %>), blue]);
    <% end %>
  <% end %>
<% end %>

  console.log(school_array);

  var mapOptions = {
    zoom: 12, 
    center: (school_array[0][0])
  }

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  for(var i=0; i < school_array.length; i++)
    {
      var marker = new google.maps.Marker({
        position: school_array[i][0],
        icon: school_array[i][1], 
        title: "test",
        map: map
      })
    }
  });
}
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
