<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6e5KCfZHZEoJLPDVUn24zM-30hir0CwM&sensor=true"></script>

<div class="outer">
  <div class="row">
    <div class="col-md-12" style="text-align:center"><strong><%= @school.name %></strong></div>
  </div><br />
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4" id="school-basics">
      <div>Type: <%= @school.school_type %></div>
      <div>Enrollment: <%= @school.enrollment %></div>
      <div>Rating: <%= @school.rating %></div>
      <div>Grade Level: <%= @school.grade_level %></div><br />
      <div id="reviews">
        Community reviews: <%= @school.reviews.count %>
        <%= render partial: 'reviews/reviews' %><br />
        <% if current_user == nil %>
          <%= link_to 'Sign In', new_auth_path %> to add a new review
        <% else %>
          <%= link_to 'new review', new_school_review_path(params[:id]) %>        
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div id="map-canvas"></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" id="school-address">
      <div><%= @school.address %></div>
      <div><%= @school.city %>, <%= @school.state %> <%= @school.zip %></div>
      <div><%= @school.county %> County</div>
      <div><%= @school.phone_number %></div>
      <div><%= @school.url %></div>
    </div>
  </div>  

</div>

<script type="text/javascript">
 function initialize() {

  var school_array = []; 
  var star = "<%= asset_path('star.png') %>";
  var blue = "<%= asset_path('blue.png') %>";
  var red = "<%= asset_path('red.png') %>";

  <% if @school.rating >= "8" %>
    school_array.push([new google.maps.LatLng(<%= @school.latitude %>, <%= @school.longitude %>), star]);
  <% elsif @school.rating <= "4" %>
    school_array.push([new google.maps.LatLng(<%= @school.latitude %>, <%= @school.longitude %>), red]);
  <% else %>
    school_array.push([new google.maps.LatLng(<%= @school.latitude %>, <%= @school.longitude %>), blue]);
  <% end %>

  console.log(school_array);

   var mapOptions = {
    center: (school_array[0][0]),
     zoom: 15
   };

   var map = new google.maps.Map(document.getElementById("map-canvas"),
       mapOptions);

  for(var i=0; i < school_array.length; i++)
    {
      var marker = new google.maps.Marker({
        position: school_array[i][0],
        icon: school_array[i][1], 
        title: "test",
        map: map
      })
    }
 }
 google.maps.event.addDomListener(window, 'page:change', initialize);
</script>