<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6e5KCfZHZEoJLPDVUn24zM-30hir0CwM&sensor=true"></script>

<div class="row">
  <div class="col-lg-6 col-md-6 col-md-6">
    <div>ID: <%= @school.id %></div>
    <div><strong><%= @school.name %></strong></div>
    <div><%= @school.address %></div>
    <div><%= @school.city %>, <%= @school.state %> <%= @school.zip %></div>
    <div><%= @school.county %> County</div>
    <div><%= @school.phone_number %></div>
    <div><%= @school.url %></div>
    <div><%= @school.latitude %>, <%= @school.longitude %></div>
    <div><%= link_to 'Edit', edit_school_path(@school) %></div>        
  </div>

  <div class="col-lg-6 col-md-6 col-md-6">
    <div id="map-canvas"></div>
  </div>
</div>

<script type="text/javascript">
     function initialize() {
      var myLatLng = new google.maps.LatLng(<%=@school.latitude %>, <%=@school.longitude %>)
       var mapOptions = {
         center: myLatLng,
         zoom: 15
       };
       var map = new google.maps.Map(document.getElementById("map-canvas"),
           mapOptions);
       var marker = new google.maps.Marker({
        position: myLatLng,
        map: map
       });
     }
     google.maps.event.addDomListener(window, 'load', initialize);
</script>