<div class="container">
	<h5 class="font-style-review">New Review for <%= @school.name %></h5>
			<%= form_for [@school, @review] do |f| %>
				<%= f.text_area :text, :id => "review-text", :class => "form-control", :rows => "2" %><br />
				<%= f.submit 'submit review', :class => "btn btn-success" %> <br />
			<% end %>
			<br />
			<%= link_to "return home", schools_path(school_id: @school.id) %>
</div>

