<nav class="navbar navbar-default" role="navigation" id="nav">
  <div class="container-fluid">
    <div class="navbar-header logo link">
      <li><%= link_to "schools.411", root_path, :class => "navbar-brand ", :id => "logo" %></li>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right font-style">
        <% if current_user == nil %>
            <li><%= link_to "sign in", new_auth_path %></li>
            <li><%= link_to "sign up", new_user_path, :class => "active" %></li>
            <li><%= link_to "FAQ", faq_index_path %></li>
        <% end %>
        <% if current_user != nil  %>
            <li><a>welcome <%= current_user  ? current_user.username : "not logged in" %>!</a></li>
            <li><%= link_to "FAQ", faq_index_path %></li>
         <% if current_user.is_admin == true %>   
            <li><%= link_to "add new school", new_school_path %></li>
          <% end %>
            <li><%= link_to "sign out", auths_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

