<!-- <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%#= link_to "Schools", root_path, class: "navbar-brand" %>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%#= link_to "add new school", new_school_path %></li>
        <li><%#= link_to "list all schools", schools_path %></li> -->
<!--         <li><%#= current_user ? current_user.username : "(not logged in)" %> </li>
        <li><%#= button_to "Log out", auths_path, method: :delete %></li>
        <li><%#= link_to "FAQ", faq_index_path %></li>
      </ul>
    </div>
  </div>
</nav> --> 

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Schools", root_path, :class => "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <% if current_user == nil %>
        <li><%= link_to "sign up", new_user_path, :class => "active" %></li>
        <li><%= link_to "sign in", new_auth_path %></li>
          <% end %>
          <% if current_user != nil  %>
        <li><a>welcome <%= current_user  ? current_user.username : "not logged in" %></a></li>
        <li><%= link_to "sign out", auths_path, method: :delete %></li>
        <li><%= link_to "add new school", new_school_path %></li>
          <% end %>
        <li><%= link_to "FAQ", faq_index_path %></li>
      </ul>
    </div>
  </div>
</nav>

